html {
    height: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
    word-wrap: break-word;
}
body {
    text-align: center;
    color: #dddddd;
    background-attachment: fixed;
    padding: 0 20px;
    font-family: monospace;
}
header h1 {
    margin: 0 0 30px 0;
    font-size: 3rem;
    text-shadow: 0 0 50px #000000;
}
a {
    color: #dddddd;
}
ol {
    padding-left: 0px;
    padding-inline-start: 10px;
}
.svg-inline--fa {
    height: 1rem;
}
.logo {
    height: 5rem;
    margin: 5px;
}
.nowrap {
    display: inline-block;
}
.date {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 20px;
}
footer {
    border-top: 1px dashed #dddddd;
}
